div.wrapper{
    padding: 20px;
    border: 2px dotted gray;
}
div.wrapper > div.contactInfo > h2{
    color: blue;
}
div.wrapper > div.skills > h2{
    color: yellow;
}
div.wrapper > div.Additional{
    color: green;
}